global
    log /dev/log local0
    maxconn 4096

defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend ft_ssl
    bind *:443
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }
    use_backend bk_https if { req_ssl_hello_type 1 }
    default_backend bk_ssh

backend bk_ssh
    mode tcp
    server ssh 127.0.0.1:2222

backend bk_https
    mode tcp
    server worker01 10.132.0.3:443
    server worker02 10.132.0.4:443

frontend ft_http
    bind *:80
    mode tcp
    default_backend bk_http

backend bk_http
    mode tcp
    server worker01 10.132.0.3:80
    server worker02 10.132.0.4:80
